/*NAVBAR*/
.nav-link{
    font-weight: 600;
}

/*TIME-LINE-CONTAINER*/
#time-line-col-div {
    text-align: center;
}

#time-line-col-div h1{
    font-weight: bold;
    margin-top: 25px;
}

#time-line-col-div p {
    display: block;
}

hr{
    margin-top: 150px;
    color: #7f00ff;
    border-width: 30px;
}

.points {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: -22px 50px 0px 50px;
}

.point {
    width: 10px;
    height: 10px;
    background-color: #7f00ff;
    border-radius: 50%;
}

/*TIME-LINE-PARAGRAPHS*/
.time-line-parag {
    display: flex;
    position: relative;
}

.paragraph-container {
    flex: 1;
    /*margin-right: 10px;*/
}

.time-line-under-parag{
    margin-top: 70px;
}

.time-line-above-parag {
    position: absolute;
    top: -100px;
    margin-left: 200px;
}

#time-line-above-parag1{
    margin-left: 150px;
}

#time-line-above-parag2{
    margin-left: 520px;
}

#time-line-under-parag1{
    margin-left: -60px;
}

#time-line-under-parag2{
    margin-left: 100px;
}

/*TIME-LINE-NUMBERS*/
.time-line-number {
    display: flex;
    position: relative;
}

.number-container {
    flex: 1;
    margin-right: 10px;
}

.time-line-above-number{
    margin-top: -150px;
}

.time-line-under-number{
    margin-top: -100px;
}

#time-line-2019{
    margin-left: -20px;
}

#time-line-2021{
    margin-left: 40px;
}

#time-line-2023{
    margin-left: 10px;
}

#time-line-2020{
    margin-left: 40px;
}

#time-line-2022{
    margin-left: 40px;
}