/*NAVBAR*/
.nav-link{
    font-weight: 600;
}

/*TIME-LINE-CONTAINER*/
#time-line-col-div {
    text-align: center;
}

#time-line-col-div h1{
    font-weight: bold;
    margin-top: 25px;
}

#time-line-col-div p {
    display: block;
}

hr{
    margin-top: 150px;
    color: #7f00ff;
    border-width: 30px;
}

.points {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: -22px 50px 0px 50px;
}

.point {
    width: 10px;
    height: 10px;
    background-color: #7f00ff;
    border-radius: 50%;
}

/*TIME-LINE-PARAGRAPHS*/
.time-line-parag {
    display: flex;
    position: relative;
}

.paragraph-container {
    flex: 1;
    /*margin-right: 10px;*/
}

.paragraph-container p{
    color: #353839;
}

.time-line-under-parag{
    margin-top: 70px;
}

.time-line-above-parag {
    position: absolute;
    top: -100px;
    margin-left: 200px;
}

#time-line-above-parag1{
    margin-left: 150px;
}

#time-line-above-parag2{
    margin-left: 520px;
}

#time-line-under-parag1{
    margin-left: -60px;
}

#time-line-under-parag2{
    margin-left: 100px;
}

/*TIME-LINE-NUMBERS*/
.time-line-number {
    display: flex;
    position: relative;
}

.number-container {
    flex: 1;
    margin-right: 10px;
}

.time-line-above-number{
    margin-top: -150px;
}

.time-line-under-number{
    margin-top: -100px;
}

#time-line-2019{
    margin-left: -20px;
}

#time-line-2021{
    margin-left: 40px;
}

#time-line-2023{
    margin-left: 10px;
}

#time-line-2020{
    margin-left: 40px;
}

#time-line-2022{
    margin-left: 40px;
}

.number-container p{
    color: #7f00ff;
    font-weight: bold;
}

#time-line-col-div #meet-the-team-header{
    margin-top: 130px;
}

/*MEET-THE-TEAM*/
#persons-first-cont-fluid{
    margin-top: 80px;
}

#persons-second-cont-fluid{
    margin-top: 30px;
}

h5{
    font-weight: bold;
}

/*CONNECT-WITH-DINEEASE*/
#connect-with-dineease-con-fluid{
    background-color: #7f00ff;
    margin: 50px auto 0 auto;
    padding-top: 100px;
    text-align: center;
}

#connect-with-dineease-con-fluid .container .row .col-8 h1{
    font-weight: bold;
    font-size: 40px;
}

#connect-with-dineease-con-fluid p{
    padding-top: 50px;
}

#connect-with-dineease-con-fluid .container .row .col-8 h1,
#connect-with-dineease-con-fluid .container .row .col-8 p {
    color: #fff;
}

.btn{
    background-color: #fff;
    border-color: #fff;
    border-radius: 6px;
    color: #7f00ff;
    margin-top: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn:hover{
    background-color: #fff;
    border-color: #fff;
    color: #7f00ff;
    transform: scale(0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .3s;
}

.btn:not(:hover){
    transition: .3s;
}

#connect-with-dineease-con-fluid .container{
    padding-bottom: 100px;
}

/*FOOTER*/
#footer-cont-flui{
    background-color: #000;
    height: 250px;
    color: #fff;
}

#footer-cont{
    padding-top: 50px;
}

#phone-emial-div{
    margin-bottom: 15px;
}

#phone-emial-div p{
    display: inline;
    padding-right: 25px;
}

#rights-reserved{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}

#link-privacy-policy{
    text-decoration: none;
    color: #fff;
}

#footer-follow-us-div{
    float: inline-end;
    margin-right: 50px;
}

#footer-follow-us-div img{
    margin-right: 8px;
}